version: '3.9'

services:
  backend:
    build: ./backend
    container_name: app-backend
    command: npm run dev
    ports:
      - "4200:4200"
    environment:
      - DATABASE_URL=postgres://postgres:postgres@db:5432/appdb
    depends_on:
      - db
    volumes:
      - ./backend:/app

  frontend:
    build: ./frontend
    container_name: app-frontend
    ports:
      - "5173:5173"
    command: npm start
    stdin_open: true
    tty: true
    volumes:
      - ./frontend:/app
      - /app/node_modules

  db:
    image: postgres:15
    container_name: postgres-db
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: appdb
    ports:
      - "5432:5432"
    volumes:
      - postgres-data:/var/lib/postgresql/data

volumes:
  postgres-data:
