@import "tailwindcss";

@theme {
  --color-primary: #2563EB;
  --color-primary-light: #60A5FA;
  --color-primary-dark: #1E40AF;

  --color-secondary: #F59E0B;

  --color-success: #10B981;
  --color-danger: #EF4444;
  --color-warning: #F59E0B;

  --color-background: #6D94C5;
  --color-surface: #FFFFFF;
}
